@using MccSoft.PushNotification.App.Views.Shared
@model MccSoft.PushNotification.App.Views.Emails.Example.ExampleEmailModel
@{
    Layout = "GeneralEmailTemplate";
}

<p style="@Constants.DefaultParagraphStyle">
    Greetings, @Model.Username!
</p>
<p style="@Constants.DefaultParagraphStyle">
    Welcome to our <a href="@Model.SiteRootUrl">PushNotification</a>.
</p>
